<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-RigobertoVega/blob/main/Module_4_Working_with_Data_in.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Reading Files With Open**

Open function help us to open a file with Python.

In [ ]:
#Function open

#Here we have the directory or path of the file
#Also we have the parameter, 'r' for read, 'w' for write and 'a' for appending.
File1 = open("/content/drive/MyDrive/Colab Notebooks/Data for Module 4/example1.txt","w")
File1.mode("r")
File1.close()
#this code will cause error, just as an example
# Using this path to open the file it is not the best practice, we will start using the With Statement

TypeError: ignored

**With statement**

Using a with statement to open the file is better practice because it automatically closes the file and a better practice using this way.

In [ ]:
#First example of using with statement.
with open("/content/example1.txt","r") as File1: #here we create the object File
  file_stuff = File1.read() #Here we use the method read to see the elements inside the file
  print(file_stuff)
print(File1.closed)
print(file_stuff)

This is line 1
This is line 2
This is line 3
True
This is line 1
This is line 2
This is line 3

In [ ]:
#First example of using with statement.
with open("/content/example1.txt","r") as File1: #here we create the object File
  file_stuff = File1.readlines() #Here we use the method read every index position to the file
  print(file_stuff) #here we will have the list with the elements placed in their order

with open("/content/example1.txt","r") as File1: #here we create the object File
  file_stuff = File1.read(16) #Here we use the method read ethe first 16 characters of the file
  print(file_stuff) #This is line 1 /n
  file_stuff = File1.read(5) #Here as we called a second time we will read the next 5 characters
  print(file_stuff) #This
  file_stuff = File1.read(9) #Here as we called a third time we will read the next 9 characters
  print(file_stuff) #is line 2

['This is line 1 \n', 'This is line 2\n', 'This is line 3']
This is line 1

This
is line 2

**Writing Files with Open**

In [ ]:
Lines = ["This is line A\n", "This is line B\n", "This is line C\n" ] #The list of elements we want to upload to the file
with open("/content/example2.txt","w") as File1: #Sintaxis of how to open and prepared the object to be modified with the object File 1
  for line in Lines:
    File1.write(line) #using the write method we write in the file every element of the list thanks yo the for loop

In [ ]:
#Copying Files
with open("/content/example1.txt","r") as ReadFile: #Here we open and read the file 1
  with open("/content/example3.txt","w") as WriteFile: #Sintaxis of how to open and prepared the object to be modified with the object File 3
    for line in ReadFile:
      WriteFile.write(line) #using the write method we write in the file 3 every element of the file 1 thanks yo the for loop

**Loading Data with Pandas**

Dependencies or libraries are pre-written code to help solve problems. We can import the libraries to access a prebuild funcitons and clases thanks to the Pandas Developers

In [ ]:
import pandas #importing the library
csv_path= '/content/ex4.csv' #variable to save the file location
df = pandas.read_csv(csv_path) #sintaxis to read the file with panda's classes

df.head() #Here we used the method head() to see the first 5 rows of the data frame

                  Day  ONE_DAY_PRECIPITATION
0  2020-06-01 0:00:00                    1.0
1  2020-06-02 0:00:00                    5.6
2  2020-06-03 0:00:00                    4.1
3  2020-06-04 0:00:00                    4.0
4  2020-06-05 0:00:00                    6.2

Use panda to create a dataframe

In [ ]:
import pandas as pd #importing the libraries and creating an class called pd
#here in the dictionary we use to create the data frame, the kwys are the columns lables, and the values are list of corresponding data to the rows
songs = {'Album': ['Thriller','Back in Back', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell'],
         'Released': [1982, 1980, 1973, 1992, 1997],
         'Length':['00:42:19', '00:42:11', '00:42:49','00:57:44', '00:46:33']}

songs_frame = pd.DataFrame(songs)
print(songs_frame.head())
print(type(songs_frame))
#using the method ".ix()" or "".iloc[]" will allow you to acces just a part of the file or even indexing the value from the file
print(songs_frame.iloc[0,0]) #Obtain the first row and column
print(songs_frame.iloc[1,0]) #Obtain the second row and first column
print(songs_frame.iloc[0,2]) #Obtain the first row and third column
print(songs_frame.iloc[0:2, 0:3]) #Obtain from the first row and second column to the first row and third columb
#function ".loc" also used for reading the data from dataframe, but this funciton allow us to choose a label column by their name
print(songs_frame.loc[0,'Released']) #Obtain the first row from the column 'Released'
print(songs_frame.loc[3,'Album']) 
print(songs_frame.loc[0:3, 'Album':'Released']) #Slice and obtain the first four data of the columns selected

                       Album  Released    Length
0                   Thriller      1982  00:42:19
1               Back in Back      1980  00:42:11
2  The Dark Side of the Moon      1973  00:42:49
3              The Bodyguard      1992  00:57:44
4            Bat Out of Hell      1997  00:46:33
<class 'pandas.core.frame.DataFrame'>
Thriller
Back in Back
00:42:19
          Album  Released    Length
0      Thriller      1982  00:42:19
1  Back in Back      1980  00:42:11
1982
The Bodyguard
                       Album  Released
0                   Thriller      1982
1               Back in Back      1980
2  The Dark Side of the Moon      1973
3              The Bodyguard      1992

**Saving Data with Panda**

In [ ]:
#unique method will allow us to just have the unique values in a list or dataset
songs = {'Released': [1982, 1980, 1973, 1992, 1998, 1976, 1977, 1977]}
released_frame = pd.DataFrame(songs)
released_frame['Released'].unique() #this will just show up one 1977
df1 = released_frame['Released']>=1980 #Here the class will be evaluted the data if is equal or grater than 1980 and will show a boolean
df1.to_csv('new_songes.csv') #with this funciton we will create a new file called the same name as the argument.

**Excercise**


Your local university's Raptors fan club maintains a register of its active members on a .txt document. Every month they update the file by removing the members who are not active. You have been tasked with automating this with your Python skills.
Given the file currentMem, Remove each member with a 'no' in their Active column. Keep track of each of the removed members and append them to the exMem file. Make sure that the format of the original files in preserved. (Hint: Do this by reading/writing whole lines and ensuring the header remains )
Run the code block below prior to starting the exercise. The skeleton code has been provided for you. Edit only the cleanFiles function.

In [ ]:
#Run this prior to starting the exercise
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [ ]:
'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''
def cleanFiles(currentMem, exMem):
       with open(currentMem,'r+') as writefiles: 
        with open(exMem,'a+') as appendfiles:
            
            writefiles.seek(0)
            Members = writefiles.readlines()
            
            header = Members[0]
            Members.pop(0) 
            no_en_lista = []
            for member in Members:
             if 'no' in member:
               no_en_lista.append(member)

            #inactive = [member for member in members if ('no' in member)] #used on the solution proposed
            
            writefiles.seek(0) 
            writefiles.write(header)
            for member in Members:
                if (member in no_en_lista):
                    appendfiles.write(member)
                else:
                    writefiles.write(member)      
            writefiles.truncate() #used on the solution proposed

memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    39541      2017-5-14    yes
    99636      2018-3-8     yes
    54246      2018-6-7     yes
    45200      2020-7-11    yes
    69066      2020-10-10   yes
    44013      2020-8-22    yes
    27105      2017-9-13    yes
    40933      2019-10-22   yes
    80776      2015-5-8     yes
    80057      2017-3-14    yes
    45200      2020-7-11    yes
    69066      2020-10-10   yes
    44013      2020-8-22    yes
    27105      2017-9-13    yes
    40933      2019-10-22   yes
    80776      2015-5-8     yes
    80057      2017-3-14    yes

Inactive Members:


Membership No  Date Joined  Active
    41009      2020-9-17    no
    66032      2019-1-24    no
    92078      2018-7-21    no
    28102      2019-10-6    no
    50354      2016-2-12    no
    20320      2017-4-5     no
    12967      2015-8-10    no
    30994      2019-1-17    no
    14477      2020-7-15    no
    43932      2015-11-25   no
    13082      2017-2-12    no
    62690      2018-11-3    no
    35962      2015-2-25    no
    13082      2017-2-12    no
    62690      2018-11-3    no
    35962      2015-2-25    no

In [ ]:
#The code cell below is to verify your solution. Please do not modify the code and run it to test your implementation of cleanFiles.
def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# checking if total no of rows is same, including headers

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("The number of rows do not add up. Make sure your final files have the same header and format.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Inactive members in file")
        break
    else:
        if line not in ogWrite:
            print("Data in file does not match original file")
            passed = False
print ("{}".format(testMsg(passed)))

Test Passed

**Exercise 1: Pandas: DataFrame and Series**

In [ ]:
import pandas as pd