<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-RigobertoVega/blob/main/Module2_PythonDataStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List and tuples
both are on of the key types of data structures in python and called them compound data types.
Tuples are an ordered sequence

In [1]:
#tuple are expreses with comma-separated elements within parantheses
Ratings = (10, 9, 6, 5, 10, 8, 8 ,6, 2)
tuple1 = ('disco', 10, 1.2) # All kind of variables can be within a tuple 
type(tuple1) # tuple is a type of "variable"

tuple

In [2]:
#we can concatenate tuples with using plus operator
tuple2 = tuple1 + ("hard rock", 10)
print(tuple2)

('disco', 10, 1.2, 'hard rock', 10)

In [4]:
#same as string we can slice tuples
print(tuple2[0:3], tuple2[3:5]) #('disco', 10, 1.2)
len(tuple2)

('disco', 10, 1.2) ('hard rock', 10)

5

In [8]:
#tuples are inmmutable, this means the values already on them can be changed with using indexing, but we can change the value and its a good pracite create a new tuple
RatingsSorted = sorted(Ratings)
print(RatingsSorted)

[2, 5, 6, 6, 8, 8, 9, 10, 10]

In [10]:
#Nesting, this means a tupple can contain another tupples
NT = (1,2,("pop","rock"),(3,4),("disco",(1,2)))
print(NT[2][1]) # NT[2] would be ("pop", "rock"), but NT[2][1] would be ("rock")
print(NT[3][0]) # NT[3] would be (1,2), but NT[3][0] would be (3)
print(NT[4][1][1]) # NT[4] would be ("disco", (1,2)), NT[4][1] would be (1,2) and NT[4][1][1] would be (2)

rock
3
2

List
they are also an ordered sequence, they are represented with square brackets, they can be similar to tuples, but list are mutuable, which means they values can be changed with just indexing their values in specific positions

In [11]:
List1 = ["Michael Jackson", 10.1, 1982] #they can also contain all the variables
List2 = [List1, [1,2], ('A',1)] #also as tupples they can contain other list and also can containn other type of data structures like tuples
print(List1)
print(List2)

['Michael Jackson', 10.1, 1982]
[['Michael Jackson', 10.1, 1982], [1, 2], ('A', 1)]

In [15]:
#they can also be accesed by using their index
print(List1[0], List1[-3]) # both would return Michael Jackson
#Also can be sliced
print(List1[0:2])

Michael Jackson Michael Jackson
['Michael Jackson', 10.1]

In [13]:
#They can also be conmbined with the plus simbol
List3 = List1 + [10,2]
print(List3)

['Michael Jackson', 10.1, 1982, 10, 2]

In [21]:
#List are mutuable
List1.extend(["pop",10]) #add the number of elements pretended, this case 2
print(List1)
List1.append(["jazz",21]) #Add just one more element to the list and this would be a list
print(List1)

['Michael Jackson', 10.1, 1982, 'pop', 10, 'pop', 10, 'pop', 10]
['Michael Jackson', 10.1, 1982, 'pop', 10, 'pop', 10, 'pop', 10, ['jazz', 21]]

In [27]:
#we can delete an element
del(List1[6])
print(List1)

['Michael Jackson', 10.1, 1982, 'pop', 10, 'pop']

In [29]:
#We can split the elements like string
List1[0].split()
print(List1)

['Michael Jackson', 10.1, 1982, 'pop', 10, 'pop']

In [30]:
#Aliasing, this means when you have two or more list the will share the same values in their elements list
ListA=["Hard Rock", 10, 1.2]
ListB=ListA
print(ListB[0], "\n", ListA[0])

Hard Rock
 Hard Rock