<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-RigobertoVega/blob/main/Module2_PythonDataStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuples**
they are on of the key types of data structures in python and called them compound data types.
Tuples are an ordered sequence

In [ ]:
#tuple are expreses with comma-separated elements within parantheses
Ratings = (10, 9, 6, 5, 10, 8, 8 ,6, 2)
tuple1 = ('disco', 10, 1.2) # All kind of variables can be within a tuple 
type(tuple1) # tuple is a type of "variable"

tuple

In [ ]:
#we can concatenate tuples with using plus operator
tuple2 = tuple1 + ("hard rock", 10)
print(tuple2)

('disco', 10, 1.2, 'hard rock', 10)

In [ ]:
#same as string we can slice tuples
print(tuple2[0:3], tuple2[3:5]) #('disco', 10, 1.2)
len(tuple2)

('disco', 10, 1.2) ('hard rock', 10)

5

In [ ]:
#tuples are inmmutable, this means the values already on them can be changed with using indexing, but we can change the value and its a good pracite create a new tuple
RatingsSorted = sorted(Ratings)
print(RatingsSorted)

[2, 5, 6, 6, 8, 8, 9, 10, 10]

In [ ]:
#Nesting, this means a tupple can contain another tupples
NT = (1,2,("pop","rock"),(3,4),("disco",(1,2)))
print(NT[2][1]) # NT[2] would be ("pop", "rock"), but NT[2][1] would be ("rock")
print(NT[3][0]) # NT[3] would be (1,2), but NT[3][0] would be (3)
print(NT[4][1][1]) # NT[4] would be ("disco", (1,2)), NT[4][1] would be (1,2) and NT[4][1][1] would be (2)

rock
3
2

**List**
they are also an ordered sequence, they are represented with square brackets, they can be similar to tuples, but list are mutuable, which means they values can be changed with just indexing their values in specific positions

In [ ]:
List1 = ["Michael Jackson", 10.1, 1982] #they can also contain all the variables
List2 = [List1, [1,2], ('A',1)] #also as tupples they can contain other list and also can containn other type of data structures like tuples
print(List1)
print(List2)

['Michael Jackson', 10.1, 1982]
[['Michael Jackson', 10.1, 1982], [1, 2], ('A', 1)]

In [ ]:
#they can also be accesed by using their index
print(List1[0], List1[-3]) # both would return Michael Jackson
#Also can be sliced
print(List1[0:2])

Michael Jackson Michael Jackson
['Michael Jackson', 10.1]

In [ ]:
#They can also be conmbined with the plus simbol
List3 = List1 + [10,2]
print(List3)

['Michael Jackson', 10.1, 1982, 10, 2]

In [ ]:
#List are mutuable
List1.extend(["pop",10]) #add the number of elements pretended, this case 2
print(List1)
List1.append(["jazz",21]) #Add just one more element to the list and this would be a list
print(List1)

['Michael Jackson', 10.1, 1982, 'pop', 10, 'pop', 10, 'pop', 10]
['Michael Jackson', 10.1, 1982, 'pop', 10, 'pop', 10, 'pop', 10, ['jazz', 21]]

In [ ]:
#we can delete an element
del(List1[6])
print(List1)

['Michael Jackson', 10.1, 1982, 'pop', 10, 'pop']

In [ ]:
#We can split the elements like string
List1[0].split()
print(List1)

['Michael Jackson', 10.1, 1982, 'pop', 10, 'pop']

In [ ]:
#Aliasing, this means when you have two or more list the will share the same values in their elements list
ListA=["Hard Rock", 10, 1.2]
ListB=ListA
print(ListB[0], "\n", ListA[0])

Hard Rock
 Hard Rock

In [ ]:
#but if you change A, B will change
ListA[0]="banana"
print(ListB[0], "\n", ListA[0])

banana
 banana

In [ ]:
#but by using the next sintax, you can clone A in other list and if you make any changes on it this new list would not be affected like in the past example
ListA=["Hard Rock", 10, 1.2]
ListB=ListA[:]
print(ListB[0], "\n", ListA[0])
ListA[0]="banana"
print(ListB[0], "\n", ListA[0])

Hard Rock
 Hard Rock
Hard Rock
 banana

In [ ]:
help(ListA) #this would return the main help by python and their functions

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

**Sets**
Sets are also a type of collections. This means that like list and tupples, you can add elements for different type of variable, but unlike list or tupples they are unordered, this means sets do not record position. Sets also only have unique elements, this means there is only one of a particular element in a set. Defininf a set would use curly bracked {}

In [ ]:
Set1 = {"pop","rock","hard rock", "rock", "R&B", "rock", "disco"}
print(Set1) # if we see the element we can see "rock" as a duplicated item, so in sets this element will be consider as one

{'pop', 'rock', 'hard rock', 'R&B', 'disco'}

In [ ]:
#type casting, this means you can covert a list into a set
album_list = ["Michael Jackson", "Thriller", "Thriller", 1982] #ordered elements
print(album_list)
album_set = set(album_list)
print(album_set) #unordered elements, and also the duplicated elements will be erased

['Michael Jackson', 'Thriller', 'Thriller', 1982]
{'Michael Jackson', 'Thriller', 1982}

In [ ]:
#Set operations
SetA = {"Thriller", "Back in Back", "AC/DC"}
print(SetA)
SetA.add("NSYNC") #add an element
print(SetA)
SetA.remove("NSYNC")  #remove an element
print(SetA)
#this funcions allow us to know if there is an element in the set we would like to know
"who" in SetA #not in the set, would be false
"AC/DC" in SetA #is in the set, would be true

{'Thriller', 'Back in Back', 'AC/DC'}
{'Thriller', 'Back in Back', 'NSYNC', 'AC/DC'}
{'Thriller', 'Back in Back', 'AC/DC'}

True

In [ ]:
#mathematic funciton of sets, this would overlap the sets, but would just return the same elements on the sets
SetB = {"Thriller", "Back in Back", "AC/DC", "Viva La Vida"}
SetC = SetA & SetB
print(SetC)
#here we can combine the sets using the funciton .union()
SetD = SetA.union(SetB)
print(SetD)
#this function .issubset will allow us to know if a set elements are present or equal to another set
SetB.issubset(SetA)

{'Thriller', 'Back in Back', 'AC/DC'}
{'Thriller', 'Back in Back', 'AC/DC', 'Viva La Vida'}

False

**Dictionary**
Dictionaries are a type of collection. if you use a list that has any variable, this list would have integer indexes like adresses where the information would be storaged. This collections have keys alongside the values, this key is an analogous to the specific index, they are like adresses but this does not have to be aninteger, the are usually characters the values are similar to the elements in a list and a contain information

In [ ]:
#Dictionaries, we use curly brackets
Dict1 = {"Thriller": 1982, "Back in Back": 1980, "The Dark Side of the moon": 1973, "The bodyguard": 1992}
#the keys are Thriller, Back in back, The Dark Side of the Moon, The Bodyguard
#The values are 1982, 1980, 1973, 1992

#we can obtain the value, just with using its key
print(Dict1["Thriller"])
#This command would help us to know if a key is a dictionary
"The bodyguard" in Dict1
#this command would let us know all the keys
Dict1.keys()

1982

dict_keys(['Thriller', 'Back in Back', 'The Dark Side of the moon', 'The bodyguard'])

In [5]:
#Quiz on Tupples
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
# find the tuple length
len(genres_tuple) 
# Access the element, with respect to index 3
print(genres_tuple[3]) 
# Use slicing to obtain indexes 3, 4 and 5:
print(genres_tuple[3:6]) 
#Find the first two elements of the tuple genres_tuple
print(genres_tuple[0:2]) 
# Find the first index of "disco"
print(genres_tuple.index("disco"))
# Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):
C_tuple=(-5, 1, -3)
sorted_C_tuple = sorted(C_tuple)
print(sorted_C_tuple)

hard rock
('hard rock', 'soft rock', 'R&B')
('pop', 'rock')
7
[-5, -3, 1]

In [10]:
# Quiz on List
# Create a list a_list, with the following elements 1, hello, [1,2,3] and True
a_list = [1, "hello", [1,2,3], True]
print(a_list)
#Find the value stored at index 1 of a_list.
print(a_list[1])
#Retrieve the elements stores at index 1,2 and 3 of a_list
print(a_list[1:4])
#Concatenate the following lists <code>A = \[1, 'a']</code> and <code>B = \[2, 1, 'd']</code>:
A = [1, 'a'] 
B = [2, 1, 'd']
C= A + B
print(C)

[1, 'hello', [1, 2, 3], True]
hello
['hello', [1, 2, 3], True]
[1, 'a', 2, 1, 'd']