<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-RigobertoVega/blob/main/Modulo1_PythonBasiscs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("l")

l

In [3]:
print("Hello Python 101") #Uses to print

Hello Python 101

In [4]:
frint("Hello Python 101") #Error due frint is not defined

NameError: ignored

In [7]:
type(11) #integer
type(21.213) # float and real numbers
type("Hello Python 101") #string
float(2) #converts it to 2.0
int(1.1) #just takes the integer 1
int('1') #copy the string number 1
int('a') #Error due a is not a number

ValueError: ignored

In [8]:
#boolean can just have True "1" or false "0"

In [9]:
#Expressisons are operations that python perfomrs, for example 43 + 56 + 21 + 26, this are referenced to the plus simbol which are called operandors

In [10]:
#this expressions follow the mathematical rules like the paranthesis are first, then multiply and divions, etc.

In [11]:
#Variables
my_variable = 1 #this is used to asign a value to the variable

In [12]:
print(my_variable)

1

In [14]:
my_variable = my_variable * 60
print(my_variable)
#t's good practice to use meaningful variable names, so you don't have to keep track of

3600

In [15]:
#also can use the the operation an variables together

In [17]:
total_min = 43+65+56
total_seconds = total_min/60
print(total_min, "," ,total_seconds)

164 , 2.7333333333333334